/* Grid-related CSS */

:root {
  --square-size: 20px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

ul {
  list-style-type: none;
}

.months {
  grid-area: months;
}
.days {
  grid-area: days;
}
.squares {
  grid-area: squares;
}

.graph {
  display: inline-grid;
  grid-template-areas:
    "empty months"
    "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 0px;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

/* Other styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
}

.graph {
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 20px auto;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #ebedf0;
}

.squares li[data-level="FIRST_QUARTILE"] {
  background-color: #c6e48b;
}

.squares li[data-level="SECOND_QUARTILE"] {
  background-color: #7bc96f;
}

.squares li[data-level="THIRD_QUARTILE"] {
  background-color: #196127;
}

.hidden {
  display: none;
}
